$primary: #009688;
$background: #F6F6F6;
$background-light: #FAFAFA;

$white: #FFFFFF;
$black: #000000;

$black87: #212121;
$black65: #404040;
$black35: #8C8C8C;    // secondary
$black26: #BCBCBC;
$black27: #BABABA;    // disabled
$black09: #E8E8E8;    // default lining

$text-primary: #333333;                 // 80%: for primary content text
$text-secondary: #666666;               // 67%: for less important content text
$text-light: #999999;                   // 42%: for captions and descriptive content
$text-link: #1791F2;
$text-lighter: #BBBBBB;                 // for timestamps and descriptive content, lighter than descriptive text
$text-disabled: #CCCCCC;                // 20%: for disabled text, or other text that needs to be weakened visually

$success: #55CC77;
$warning: #FFBF00;
$error: #FF4742;
$info: #2673DD;

$success-bg: #EBF9EF;
$warning-bg: #FFF7E0;
$error-bg: #FFE9E8;
$info-bg: #E5EEFB;

$border-color: #E5E5E5;
$border-color-light: #EEEEEE
